<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    {% extends 'base/base.html' %}
    {% block content %}
    <h1>Soy la lista de usuarios:</h1>

    <a href="{% url 'usuarios:nuevo' %}">Agregar un nuevo usuario</a>

    <table>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
        </tr>
        {% for us in usuarios %}

            <tr>
                <td>{{us.id}}</td>
                <td>{{us.username}}</td>
                <td>{{us.first_name|default:'-'}}</td>
            </tr>

        {% endfor %}
    </table>
    {% endblock content %}

</body>
</html>